.list-unstyled {
    list-style:disc; /* Add bullet points */
    padding-left: 2px; /* Adjust indentation for bullets */
    
}

.list-unstyled a {
    text-decoration: none; /* Remove underlines for links */
}
.as{
    align-self: left;
}
